// Variables
$buttonNoHover: #6600cc;
$buttonHover: #6600ee;
// SCSS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.top-side {
    background-color: #292929;
    padding: 20px;
    color: #fff;
    text-align: center;
    cursor: default;
    width: 100%;
    hr {
        background-color: #fff;
        width: 100%;
    }
}

#navBtn {
    background-color: inherit;
    border: none;
}

.sideNav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #292929;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 500ms ease;
    color: #fff;
    button {
        background-color: $buttonNoHover;
        padding: 15px 0px;
        width: inherit;
        cursor: pointer;
        color: #fff;
        border: none;
        transition: background-color 500ms ease;
    }
    button:hover {
        background-color: $buttonHover;
    }
    hr {
        background-color: $buttonHover;
        height: 2px;
    }
    a {
        width: inherit;
        text-align: left;
        color: #fff;
        background-color: inherit;
        font-weight: 700;
        text-decoration: none;
        transition: all 500ms ease;
        display: block;
        font-size: 12px;
        cursor: pointer;
        margin-bottom: 15px;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
            width: inherit;
            font-size: 12px;
        }
    }
    a:hover {
        background-color: $buttonHover;
    }
}

@media only screen and (max-width: 700px) {
    .sideNav {
        width: 100vw !important;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: $buttonNoHover;
    color: #fff !important;
}

.p-container {
    // color: #292929;
    cursor: default;
    padding: 10px;
    header {
        font-size: 24px;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    p {
        font-size: 14px;
        font-weight: 100;
    }
    a {
        text-decoration: underline;
        font-size: 12px;
        font-weight: 100;
        color: #fff;
    }
}

// Container Media Querry
@media only screen and (max-width: 500px) {
    .content {
        flex-direction: column;
        background-color: $buttonHover;
        .p-container {
            width: 100% !important;
        }
        p {
            font-size: 12px;
        }
        header {
            font-size: 18px !important;
        }
    }
}

.form-search {
    cursor: default;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    header {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 300;
    }
    input {
        border: 1px solid #292929;
        width: 100%;
    }
    form {
        padding: 10px;
        margin-bottom: 5px;
        width: 75%;
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .a-search {
            display: block;
            padding: 10px;
            background-color: $buttonNoHover;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            border: 1px solid #292929;
            border-radius: 5px;
            margin-top: 2px;
            transition: all 500ms ease;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
        }
        .a-search:hover,
        .a-search:focus {
            background-color: $buttonHover;
        }
    }
    button {
        cursor: pointer;
        color: #fff;
        background-color: $buttonNoHover;
        border: none;
        border-radius: 5px;
        padding: 7.5px 40px;
        transition: all 500ms ease;
    }
    button:hover {
        cursor: pointer;
        background-color: $buttonHover;
    }
}

@media screen and (max-width: 700px) {
    .form-search {
        form {
            div {
                flex-direction: column !important;
                align-items: flex-start;
            }
            width: 100% !important;
        }
    }
}

.topTrending {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    width: fit-content;
    margin: auto;
    color: #292929;
    header {
        font-size: 22px;
        margin-bottom: 10px;
        text-decoration: underline;
    }
    #iframeTrending {
        width: 560px;
        height: 315px;
    }
    div {
        width: 100%;
        margin-top: 10px;
        padding: 5px;
    }
    h6 {
        text-align: right;
        a {
            text-align: right;
            text-decoration: underline;
            font-weight: 300;
            color: #292929;
            transition: all 500ms ease;
        }
        a:hover {
            color: $buttonHover;
            font-weight: 700;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 700) {
    .topTrending {
        #iframeTrending {
            width: 187px;
            height: 105px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .topTrending {
        #iframeTrending {
            width: 280px;
            height: 157.5px;
        }
    }
}

footer {
    cursor: default;
    .social-media {
        cursor: pointer;
        width: 100%;
        background-color: #292929;
        font-size: 25px;
        text-align: center;
        i {
            color: #fff;
            margin: 5px;
            transition: all 500ms ease-in-out;
        }
        i:hover {
            color: $buttonHover;
        }
    }
    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
    .half-footer {
        padding: 20px;
        width: 50%;
        header {
            text-align: center;
            text-decoration: underline;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        p {
            font-size: 14px;
        }
        div {
            button {
                border: none;
                background-color: $buttonNoHover;
                display: block;
                padding: 5px 20px;
                margin-top: 5px;
            }
            button:hover {
                background-color: $buttonHover;
            }
            input {
                border-radius: 0px;
            }
            label {
                font-size: 12px;
            }
        }
        ul {
            border: none;
            border-radius: 0;
            a {
                color: #292929;
                text-decoration: none;
                cursor: pointer;
                display: block;
            }
            a:hover {
                background-color: $buttonNoHover;
                color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    footer {
        .half-footer {
            width: 100% !important;
            header {
                margin-bottom: 15px;
                font-size: 18px;
            }
            input {
                font-size: 12px;
            }
            button {
                width: 100%;
            }
        }
        .footer-flex {
            flex-direction: column !important;
        }
    }
}

#navbarLogin,
#navbarRegister {
    border: none;
    background-color: inherit;
    color: #fff;
    transition: all 500ms ease;
    padding: 5px 10px;
    width: 70px;
    font-size: 14px;
    text-decoration: none;
}

#navbarLogin:hover,
#navbarLogin:focus,
#navbarRegister:hover,
#navbarRegister:focus {
    color: $buttonHover;
}

nav {
    #navEmail,
    #navPwd {
        width: 100px;
    }
}

@media only screen and (max-width: 575px) {
    #navEmail,
    #navPwd {
        width: 100% !important;
    }
}

@media only screen and (max-width: 991px) and (min-width: 576px) {
    #navEmail,
    #navPwd {
        width: 100% !important;
    }
}

// Contribute Page SCSS
#contrib-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100% !important;
    .contrib-form {
        padding: 20px;
        cursor: default;
        width: 70%;
        height: inherit;
        header {
            font-size: 26px;
            text-align: center;
        }
        form {
            padding: 10px;
        }
        label {
            font-size: 16px;
            margin-left: 7.5px;
        }
        input {
            margin-bottom: 10px;
            font-size: 16px;
        }
        textarea {
            resize: none;
            width: 100%;
            font-size: 16px;
            font-family: sans-serif;
        }
        button {
            border: none;
            border-radius: 5px;
            color: #fff;
            background-color: $buttonNoHover;
            padding: 5px 40px;
            display: block;
            position: relative;
            float: right;
            margin-right: 10px;
            cursor: pointer;
            transition: all 300ms ease;
        }
        button:hover {
            background-color: $buttonHover;
        }
    }
    .contrib-info {
        cursor: default;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: $buttonHover;
        padding: 20px;
        border-radius: 5px;
        color: #fff;
        height: inherit;
        .circle-cont {
            width: 100% !important;
            height: fit-content !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 10px 0px;
            .circle-fill {
                background-color: #292929;
                border: 1px solid #292929;
                width: 25px !important;
                height: 25px !important;
                border-radius: 50%;
                margin: 0px 5px;
            }
            .circle-outer {
                background-color: inherit;
                border-radius: 50%;
                border: 2px solid #292929;
                width: 25px;
                height: 25px;
                margin: 0px 5px;
            }
        }
        #outer-col-6 {
            display: flex;
            flex-direction: column;
            align-items: center;
            #buttonPreview_Info {
                cursor: pointer;
                border: none;
                border-radius: 5px;
                background-color: #292929;
                color: #fff;
                padding: 5px 30px;
                margin: 10px 0px;
                transition: all 1s ease;
            }
            #buttonPreview_Info:hover {
                background-color: #fff;
                color: #292929;
            }
        }
        header {
            font-size: 22px;
            text-align: center;
            letter-spacing: 1px;
        }
        #main-header {
            font-size: 26px;
        }
        .half-contrib {
            margin-top: 10px;
            div {
                font-size: 16px;
                margin-top: 10px;
            }
            p {
                font-size: 14px;
            }
            a {
                text-decoration: underline;
                color: #fff;
                cursor: pointer;
            }
            a:hover,
            a:focus {
                text-decoration: none;
            }
        }
        .half-contrib-work {
            margin-top: 10px;
            div {
                font-size: 16px;
                margin-top: 10px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    #buttonPreview_Info {
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #292929;
        color: #fff;
        width: 50%;
        padding: 5px 30px;
        margin: 10px auto;
        transition: all 1s ease;
    }
    #buttonPreview_Info:hover {
        background-color: #fff;
        color: #292929;
    }
    .preview-cont {
        margin-top: 10px;
        padding: 25px;
        border: 2px solid #292929;
        border-radius: 5px;
        max-height: 600px;
        margin-left: 5px;
        overflow-y: scroll;
        hr {
            background-color: #292929;
        }
        h3 {
            text-align: center;
        }
        div {
            text-align: left;
            margin-top: 20px;
            white-space: pre-wrap;
        }
        h6 {
            text-align: left;
            margin-top: 20px;
        }
    }
}

// Contribute Media Querries
@media only screen and (max-width: 1450px) {
    #contrib-outer {
        display: block !important;
        .contrib-form {
            width: 100%;
        }
        .contrib-info {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 650px) {
    #contrib-outer {
        header {
            font-size: 18px !important;
        }
        #main-header {
            font-size: 20px !important;
        }
        display: block !important;
        .contrib-form {
            width: 100% !important;
        }
        .contrib-info {
            width: 100% !important;
            padding: 0 !important;
            p {
                font-size: 12px !important;
            }
        }
    }
}

// Register SCSS
.register-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: default;
    #main-header-register {
        font-size: 26px;
        color: #fff;
        text-align: center;
        margin-bottom: 5px;
    }
    .register-init {
        padding: 20px;
        width: 70%;
        header {
            text-align: center;
            font-size: 26px;
        }
        h6 {
            text-align: center;
            font-size: 12px;
        }
        label {
            margin-left: 10px;
            font-size: 14px;
            margin-bottom: 3px;
        }
        input {
            margin-bottom: 10px;
        }
        button {
            border: none;
            border-radius: 5px;
            color: #fff;
            background-color: $buttonNoHover;
            padding: 5px 20px;
        }
        button:hover {
            background-color: $buttonHover;
        }
    }
    .register-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $buttonHover;
        width: 40%;
        margin-top: 30px;
        cursor: default;
        padding: 20px;
        margin-right: 10px;
        div {
            color: #fff;
            margin: 5px;
            header {
                font-size: 22px;
                text-align: center;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

// Register Media Querries
@media only screen and (max-width: 1450px) {
    .register-outer {
        flex-direction: column;
        .register-init {
            width: 100%;
        }
        .register-info {
            width: 100%;
            margin-right: 0 !important;
        }
    }
}

@media only screen and (max-width: 650px) {
    .register-outer {
        p {
            font-size: 12px !important;
        }
    }
}

// Top Trending Song Template
#topTrendingDiv {
    cursor: default;
    iframe {
        width: 560px;
        height: 315px;
    }
    div {
        width: 50%;
        padding: 40px;
        border-radius: 10px;
        color: #292929;
        white-space: pre-wrap;
        font-family: sans-serif;
    }
}

@media only screen and (max-width: 700) {
    #topTrendingDiv {
        iframe {
            width: 187px;
            height: 105px;
        }
        div {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1200px) {
    #topTrendingDiv {
        iframe {
            width: 280px;
            height: 157.5px;
        }
        div {
            width: 100%;
        }
    }
}

// Login SASS
.login-outer {
    padding: 20px;
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .login-form {
        width: 50%;
        margin: 10px;
    }
    header {
        font-size: 26px;
        text-align: center;
    }
    h6 {
        text-align: center;
    }
    form {
        label {
            font-size: 16px;
            margin-left: 10px;
            margin-bottom: 3px;
        }
        input {
            margin-bottom: 10px;
        }
        button {
            border: none;
            border-radius: 5px;
            color: #fff;
            background-color: $buttonNoHover;
            padding: 5px 20px;
            margin-left: 10px;
            cursor: pointer;
        }
        button:hover,
        button:focus {
            background-color: $buttonHover;
        }
    }
    .login-info {
        background: linear-gradient(122deg, $buttonNoHover, $buttonHover);
        margin: 10px;
        padding: 20px;
        width: 50%;
        margin-top: 30px;
        border-radius: 5px;
        color: #fff;
    }
}

@media screen and (max-width: 750px) {
    .login-outer {
        flex-direction: column !important;
        .login-info {
            width: 100% !important;
        }
        .login-form {
            width: 100% !important;
        }
    }
}

// Lyrics From Sidenav
#lyricsPages {
    div {
        white-space: pre-wrap;
        padding: 20px;
        font-family: sans-serif !important;
        border-radius: 5px;
        margin-top: 20px;
        width: 840px;
    }
    iframe {
        width: 840px;
        height: 475px;
        margin: 20px;
    }
    .info-lyrics-small {
        display: none;
        font-family: inherit !important;
        h3 {
            text-align: center;
        }
        hr {
            height: 2px;
        }
    }
}

.sidenav-info-lyrics {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #292929;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 500ms ease;
    color: #fff;
    cursor: default;
    h3 {
        border: none;
        width: 100%;
        display: block;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        background-color: $buttonNoHover;
        padding: 10px;
        transition: all 500ms ease;
    }
    h3:hover,
    h3:focus {
        background-color: $buttonHover;
    }
    hr {
        height: 2px;
        background-color: $buttonNoHover;
    }
    h5 {
        text-align: left;
        font-size: 16px;
        margin: 5px !important;
        background-color: #292929;
        color: #fff;
        padding: 10px;
        transition: all 500ms ease;
    }
    h5:hover {
        background-color: #fff;
        color: #292929;
    }
}

@media screen and (max-width: 1200px) {
    #lyricsPages {
        iframe {
            width: 280px !important;
            height: 157.5px !important;
        }
        div {
            width: 75%;
        }
        .info-lyrics-small {
            display: block !important;
        }
        #btn-show-info {
            display: none !important;
        }
    }
    .sidenav-info-lyrics {
        display: none !important;
    }
}

// Profile Page SCSS
.profilePage {
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    .profileMainCont {
        width: 50%;
        cursor: default;
        padding: 20px;
        margin: 20px;
        .yourProfile {
            cursor: default;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                text-align: center;
            }
            p {
                font-size: 14px;
                width: 75%;
            }
        }
        .profileChangePwd,
        .profileChangeEmail {
            h4 {
                text-align: center;
                margin-bottom: 0;
            }
            form {
                padding: 20px;
                input {
                    margin-bottom: 10px;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 10px;
                    button {
                        padding: 5px 30px;
                        border: none;
                        border-radius: 5px;
                        background-color: $buttonNoHover;
                        color: #fff;
                    }
                }
            }
        }
        .checkFav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px;
            margin: 5px;
            a {
                padding: 7.5px 30px;
                border: none;
                border-radius: 5px;
                background-color: $buttonNoHover;
                color: #fff;
                text-decoration: none;
                transition: all 500ms ease;
            }
            a:hover {
                background-color: $buttonHover;
            }
        }
    }
    .lyricPosts {
        width: 50%;
        cursor: default;
        padding: 20px;
        margin: 20px;
        .lyricPostIdiv {
            border: 1px solid #292929;
            border-radius: 5px;
            padding: 10px;
            font-family: sans-serif !important;
            margin-bottom: 10px;
            h3 {
                text-align: center;
            }
            p {
                font-size: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                span {
                    margin-left: 5px;
                }
            }
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                span {
                    margin-left: 10px;
                }
                button {
                    width: 70px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .profilePage {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }
    .profileMainCont {
        width: 100% !important;
    }
    .lyricPosts {
        width: 100% !important;
        margin: 0;
    }
}

// Edit Lyrics SCSS
.lyricsEditMain {
    cursor: default;
    padding: 20px;
    margin-top: 10px;
    .verifyLE {
        h3 {
            text-align: center;
        }
    }
    .lyricPost {
        cursor: default;
        font-family: sans-serif;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        .post {
            padding: 20px;
            background-color: #292929;
            color: #fff;
            border-radius: 5px;
            width: 50%;
            h2 {
                text-align: center;
            }
            form {
                padding: 10px;
                input {
                    margin-bottom: 5px;
                }
                button {
                    padding: 5px 40px;
                    color: #fff;
                    background-color: $buttonNoHover;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 500ms ease;
                }
                button:hover {
                    background-color: $buttonHover;
                }
                textarea {
                    resize: none;
                }
            }
        }
        .sideInfoCont {
            width: 50%;
            .sideInfo {
                background-color: $buttonNoHover;
                color: #fff;
                border-radius: 5px;
                padding: 25px;
                margin-left: 5px;
                h3 {
                    text-align: center;
                }
            }
            .preview {
                margin-top: 10px;
                padding: 25px;
                border: 2px solid $buttonNoHover;
                border-radius: 5px;
                margin-left: 5px;
                max-height: 557px;
                overflow-y: scroll;
                hr {
                    background-color: $buttonNoHover;
                }
                h3 {
                    text-align: center;
                }
                div {
                    text-align: left;
                    margin-top: 20px;
                    white-space: pre-wrap;
                }
                h6 {
                    text-align: left;
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .lyricPost {
        flex-direction: column !important;
        width: 100%;
    }
    .post {
        width: 100% !important;
    }
    .sideInfoCont {
        width: 100% !important;
        margin-top: 20px;
    }
}

// Find Lyrics DropDown Pages SCSS
.find-lyrics-outer {
    cursor: default;
    .top-div-find {
        text-align: center;
        padding: 30px;
        background-color: #292929;
        color: #fff;
        hr {
            background-color: #6600ee;
        }
    }
    .bottom-div-find {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        .filtered-lyrics {
            width: 50%;
            padding: 30px;
        }
        .output-div {
            padding: 10px;
            overflow-y: scroll;
            max-height: 1000px;
            margin-top: 20px;
            .post-a {
                font-family: Arial, Helvetica, sans-serif;
                border: 2px solid $buttonNoHover;
                text-align: left;
                padding: 10px;
                display: block;
                margin-bottom: 10px;
                border-radius: 5px;
                text-decoration: none;
                background-color: $buttonNoHover;
                color: #fff;
                font-size: 15px;
                transition: all 500ms ease;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                strong {
                    color: black;
                }
            }
            .post-a:hover {
                background-color: $buttonHover;
                color: #fff;
            }
        }
        .findInfo {
            width: 50%;
            padding: 30px;
            color: #fff;
            .logInPromo {
                background-color: $buttonNoHover;
                padding: 15px;
                border-radius: 5px;
                header {
                    text-align: center;
                    font-size: 26px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .bottom-div-find {
        display: flex;
        flex-direction: column !important;
        .filtered-lyrics,
        .findInfo {
            width: 100% !important;
        }
    }
}

.fav-outer-div {
    cursor: default;
    .fav-info {
        text-align: center;
        margin: 0;
        padding: 20px;
        background-color: #292929;
        color: #fff;
        hr {
            background-color: #fff;
        }
        p {
            font-size: 14px;
        }
    }
    .fav-main {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        .fav-main-cont {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
            width: 50%;
            .fav-h4-a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                h4 {
                    margin-left: 20px;
                    font-size: 25px;
                }
                #explore-link {
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    padding: 5px 20px;
                    background-color: #292929;
                    border-radius: 5px;
                    border: none;
                    transition: all 500ms ease;
                }
                #explore-link:hover,
                #explore-link:focus {
                    letter-spacing: 1px;
                }
            }
            .success-a-fav {
                background-color: $buttonNoHover;
                color: #fff;
                padding: 7.5px 30px;
                margin: 5px;
                border: none;
                border-radius: 5px;
                width: 100%;
                text-decoration: none;
                transition: all 500ms ease;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .success-a-fav:hover,
            .success-a-fav:focus {
                background-color: #cc9900;
            }
        }
        .fav-main-info {
            padding: 20px;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
            .fav-info-side {
                padding: 20px;
                header {
                    text-align: center;
                    font-size: 25px;
                }
                p {
                    font-size: 14px;
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .fav-main {
        flex-direction: column !important;
        .fav-main-cont {
            width: 100% !important;
        }
        .fav-main-info {
            width: 100% !important;
        }
        .fav-h4-a {
            flex-direction: column !important;
        }
    }
}